<div
  fxLayout="row"
  fxLayoutAlign="space-between start"
  style="min-height: 11rem; padding-top: 3vh"
>
  <!-- Ruby Players -->
  <div style="min-width: 50%" fxLayout="column" fxLayoutAlign="center start">
    <span *ngFor="let player of players">
      <span
        class="player"
        *ngIf="player.team === team.RUBY"
        [matTooltip]="player.nick"
        appTruncatedTooltip
      >
        <mat-icon
          style="position: absolute; left: 5%"
          color="warn"
          matSuffix
          *ngIf="player.role === role.JEM_MASTER"
          >zoom_in</mat-icon
        >
        <span
          class="ruby"
          [ngClass]="{ 'player-self': playerId === player.id }"
        >
          {{ player.nick }}
        </span>
      </span>
    </span>
  </div>
  <!-- Sapphire Players -->
  <div style="min-width: 50%" fxLayout="column" fxLayoutAlign="center start">
    <span *ngFor="let player of players">
      <span
        class="player"
        *ngIf="player.team === team.SAPPHIRE"
        [matTooltip]="player.nick"
        appTruncatedTooltip
      >
        <mat-icon
          style="position: absolute; left: 48%"
          color="primary"
          matSuffix
          *ngIf="player.role === role.JEM_MASTER"
          >zoom_in</mat-icon
        >
        <span
          class="sapphire"
          [ngClass]="{ 'player-self': playerId === player.id }"
        >
          {{ player.nick }}
        </span>
      </span>
    </span>
  </div>
</div>
