<mat-card
  class="word-container mat-elevation-z1"
  [ngClass]="{
    'red-word': word.type === wordType.RED && !word.selected && !hideColor,
    'blue-word': word.type === wordType.BLUE && !word.selected && !hideColor,
    'red-word-selected': word.type === wordType.RED && word.selected,
    'blue-word-selected': word.type === wordType.BLUE && word.selected,
    'blue-word-selected-spy': word.type === wordType.BLUE && word.selected,
    'bomb-word': word.type === wordType.BOMB && !word.selected && !hideColor,
    'bomb-word-selected': word.type === wordType.BOMB && word.selected,
    'neutral-selected': word.type === wordType.NEUTRAL && word.selected
  }"
  (click)="onWordClick()"
>
  <span
    [ngClass]="{
      'regular-word': word.content.length < 11,
      'large-word': word.content.length >= 11
    }"
    class="container"
    >{{ word.content }}</span
  >
</mat-card>
