@import "/src/styles.scss";
@import "~@angular/material/theming";

@include mat-core();

.word-container {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  text-align: center;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.regular-word {
  font-size: 1em;
}

.large-word {
  font-size: 0.8em;
}

@media screen and (min-width: 920px) {
  .word-container {
    height: 90px;
    width: 90px;
    margin: 10px;
  }
  .regular-word {
    font-size: 1.4em;
  }

  .large-word {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1920px) {
  .word-container {
    height: 110px;
    width: 110px;
    margin: 10px;
  }
  .regular-word {
    font-size: 1.6em;
  }

  .large-word {
    font-size: 1.4em;
  }
}

@keyframes blueFadeIn {
  from {
    opacity: 0.8;
  }
  to {
    background-color: mat-color($jems-web-client-primary);
  }
}

.blue-word {
  background-color: mat-color(
    $jems-web-client-primary,
    $hue: default,
    $opacity: 0.5
  );
}

.blue-word-selected {
  background-color: mat-color($jems-web-client-primary);
  animation: blueFadeIn 0.3s;
}

.red-word {
  background-color: mat-color(
    $jems-web-client-warn,
    $hue: default,
    $opacity: 0.5
  );
}

.red-word-selected {
  background-color: mat-color($jems-web-client-warn);
  animation: redFadeIn 0.3s;
}

$bomb-color: mat-palette($mat-gray);
.bomb-word {
  background-color: mat-color($bomb-color, $hue: default, $opacity: 0.5);
}

.red-word-selected {
  background-color: mat-color($jems-web-client-warn);
  animation: redFadeIn 0.3s;
}

.bomb-word-selected {
  background-color: mat-color($bomb-color);
  animation: bombFadeIn 0.3s;
}

$word-selected: mat-palette($mat-gray, 400);

.neutral-selected {
  background-color: mat-color($word-selected);
  transition: all 0.5s 0s ease-in !important;
}
