@import "/src/styles.scss";
@import "~@angular/material/theming";

@include mat-core();

.word-container {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 10%;
  font-size: 1.2rem;
  text-align: center;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blue-word {
  background-color: mat-color(
    $jems-web-client-primary,
    $hue: default,
    $opacity: 0.5
  );
}

@-o-keyframes blueFadeIn {
  to {
    background-color: mat-color($jems-web-client-primary);
  }
}
@keyframes blueFadeIn {
  to {
    background-color: mat-color($jems-web-client-primary);
  }
}

.blue-word-selected {
  background-color: mat-color($jems-web-client-primary);
  animation: blueFadeIn 0.3s;
}

.red-word {
  background-color: mat-color(
    $jems-web-client-warn,
    $hue: default,
    $opacity: 0.5
  );
}

@-o-keyframes redFadeIn {
  to {
    background-color: mat-color($jems-web-client-warn);
  }
}
@keyframes redFadeIn {
  to {
    background-color: mat-color($jems-web-client-warn);
  }
}

.red-word-selected {
  background-color: mat-color($jems-web-client-warn);
  animation: redFadeIn 0.3s;
}

$bomb-color: mat-palette($mat-gray);
.bomb-word {
  background-color: mat-color($bomb-color, $hue: default, $opacity: 0.5);
}

@-o-keyframes bombFadeIn {
  to {
    background-color: mat-color($bomb-color);
  }
}
@keyframes bombFadeIn {
  to {
    background-color: mat-color($bomb-color);
  }
}

.red-word-selected {
  background-color: mat-color($jems-web-client-warn);
  animation: redFadeIn 0.3s;
}

.bomb-word-selected {
  background-color: mat-color($bomb-color);
  animation: bombFadeIn 0.3s;
}

$word-selected: mat-palette($mat-gray, 400);
@-o-keyframes fadeIn {
  to {
    background-color: mat-color($word-selected);
  }
}
@keyframes fadeIn {
  to {
    background-color: mat-color($word-selected);
  }
}
.neutral-selected {
  background-color: mat-color($word-selected);
  animation: fadeIn 0.3s;
}
