<div
  class="mat-app-background"
  style="min-height: 100%"
  [ngClass]="{ 'theme-dark': !isLightTheme }"
  fxLayout="column"
>
  <mat-toolbar fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center">
    <div *ngIf="roomUrl | async as url; then url; else home"></div>
    <ng-template #url>
      <button
        *ngIf="roomUrl | async as url"
        mat-icon-button
        [matTooltip]="'Get invitation link'"
        (click)="copyUrlToClipboard(url)"
      >
        <mat-icon matSuffix>link</mat-icon>
      </button>
    </ng-template>
    <ng-template #home>
      <button mat-icon-button routerLink="/">
        <img src="assets/logo.svg" alt="logo" style="max-width: 50%" />
      </button>
    </ng-template>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button
        *ngIf="hasGithubLink()"
        [matTooltip]="'Github'"
        style="top: -1px; margin-right: 5px"
        mat-icon-button
        (click)="openGithub()"
      >
        <mat-icon svgIcon="github" matSuffix></mat-icon>
      </button>
      <app-theme-toggle
        [lightTheme]="isLightTheme"
        (themeToggle)="themeToggleChanged()"
      ></app-theme-toggle>
      <button
        *ngIf="roomUrl | async as url"
        [fxHide.gt-sm]="true"
        mat-icon-button
        (click)="toggleMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center">
    <router-outlet></router-outlet>
  </div>
  <app-footer [version]="version"></app-footer>
</div>
