<div
  class="mat-app-background"
  style="min-height: 100%"
  [ngClass]="{ 'theme-dark': !isLightTheme }"
  fxLayout="column"
  fxLayoutAlign="center none"
>
  <mat-toolbar
    style="position: fixed; top: 0; z-index: 2"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <button
      *ngIf="roomUrl | async as url"
      mat-icon-button
      [matTooltip]="'Get invitation link'"
      (click)="copyUrlToClipboard(url)"
    >
      <mat-icon matSuffix>link</mat-icon>
    </button>
    <app-theme-toggle
      style="width: 100%"
      (themeToggle)="themeToggleChanged()"
    ></app-theme-toggle>
  </mat-toolbar>
  <div style="margin-top: 70px"><router-outlet></router-outlet></div>
</div>
