<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="container dialog-container"
  fxLayoutGap="2rem"
  [ngSwitch]="dialogData.dialogDefinition"
>
  <mat-icon color="warn">{{ dialogIcon }}</mat-icon>
  <div>{{ dialogData.dialogMessage }}</div>
  <button
    *ngSwitchCase="dialogDefinition.OK"
    fxFlexAlign="stretch"
    (click)="closeDialog()"
    mat-flat-button
  >
    OK
  </button>
  <div
    fxLayout.xs="column"
    fxLayout="row"
    style="width: 100%"
    *ngSwitchCase="dialogDefinition.CONFIRMATION"
  >
    <button style="margin: 1rem" (click)="closeDialog()" mat-stroked-button>
      No
    </button>
    <button
      style="margin: 1rem"
      (click)="closeDialog(true)"
      mat-flat-button
      color="warn"
    >
      Yes
    </button>
  </div>
</div>
