<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="container dialog-container"
  fxLayoutGap="2rem"
  [ngSwitch]="dialogData.dialogDefinition"
>
  <mat-icon
    color="warn"
    style="font-size: 3rem; line-height: 1"
    [inline]="true"
    >{{ dialogIcon }}</mat-icon
  >
  <div style="font-size: 2rem; line-height: 1; text-align: center">
    {{ dialogData.dialogMessage }}
  </div>
  <button
    *ngSwitchCase="dialogDefinition.OK"
    fxFlexAlign="stretch"
    (click)="closeDialog()"
    mat-stroked-button
  >
    OK
  </button>
  <div
    fxLayout.xs="column"
    fxLayout="row"
    style="width: 100%"
    *ngSwitchCase="dialogDefinition.CONFIRMATION"
  >
    <button style="margin: 1rem" (click)="closeDialog()" mat-stroked-button>
      No
    </button>
    <button
      style="margin: 1rem"
      (click)="closeDialog(true)"
      mat-flat-button
      color="warn"
    >
      Yes
    </button>
  </div>
</div>
