<mat-form-field class="full-width">
  <mat-label>
    {{ label }}
  </mat-label>
  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    [placeholder]="placeholder"
    [formControl]="passwordControl"
  />
  <mat-error *ngIf="passwordControl.hasError('required')">
    Password is <b>required</b>
  </mat-error>
  <button (click)="hide = !hide" mat-icon-button matSuffix type="button">
    <mat-icon>
      {{ hide ? "visibility_off" : "visibility" }}
    </mat-icon>
  </button>
</mat-form-field>
