<div *ngIf="gameState | async as game" class="game">
  <app-action-board
    class="action-board"
    [currentTeam]="game.currentTeam"
    [participants]="game.participants"
    [playerTeam]="game.playerTeam"
    [playerRole]="game.playerRole"
    (changeTeamEvent)="onTeamChange()"
    (changeRoleEvent)="onRoleChange()"
    (setTimeEvent)="onTimeSet($event)"
  ></app-action-board>
  <div fxLayout="column" fxLayoutGap="1rem">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="font-size: 2rem; padding: 1rem"
    >
      <mat-label id="blue-points">{{ game.blueTeamPoints }}</mat-label>
      <app-timer [time]="game.turnTime"></app-timer>
      <mat-label color="warn">{{ game.redTeamPoints }}</mat-label>
    </div>
    <app-game-board
      [words]="game.words"
      [winningTeam]="game.winningTeam"
      [hideColors]="game.playerRole === role.OPERATIVE"
      (wordClicked)="onWordClicked($event)"
    ></app-game-board>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="onNewGame()">New Game</button>
      <button mat-raised-button routerLink="\">Quit Game</button>
    </div>
  </div>
</div>
