.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
}

@media screen and (max-width: 920px) {
  .game {
    flex-direction: column;
    #action-board {
      order: 3;
    }
    #action-board {
      order: 1;
    }
    #action-board {
      order: 2;
    }
  }
}

@media screen and (max-width: 920px) {
  #action-board {
    margin-right: 6px;
  }
}

@media screen and (min-width: 920px) {
  .action-board {
    float: left;
  }
}
