<!-- 5 X 5 Square Word Containers -->
<div
  gdRows.gt-xs="auto auto auto auto auto"
  gdColumns.gt-xs="auto auto auto auto auto"
  gdRows.xs="auto auto auto auto auto auto"
  gdColumns.xs="auto auto auto auto"
  gdGap="10px"
>
  <app-word
    [@enter]="{ value: '', params: { delay: i * 15 } }"
    *ngFor="let word of words; let i = index; trackBy: trackWordChange"
    [word]="word"
    [hideColor]="hideColors"
    [selectable]="playing && !winningTeam"
    (wordClickEvent)="onWordClicked(word.index)"
  ></app-word>
</div>
