<div
  gdRows.gt-xs="auto auto auto auto auto"
  gdColumns.gt-xs="auto auto auto auto auto"
  gdRows.xs="auto auto auto auto auto auto"
  gdColumns.xs="auto auto auto auto"
  gdGap="10px"
>
  <app-word
    [@flipInYOnEnter]
    *ngFor="let word of words"
    [word]="word"
    [hideColor]="hideColors"
    (wordClickEvent)="onWordClicked(word.index)"
  ></app-word>
  <svg
    *ngIf="winningTeam"
    class="win-banner"
    [@zoomInOnEnter]
    [@zoomOutOnLeave]
    viewBox="0 0 150 40"
  >
    <text
      style="
        stroke: #f2f2f2;
        stroke-width: 0.01px;
        stroke-linejoin: round;
        background-color: aqua;
      "
      [ngClass]="{
        'raw-blue': winningTeam === team.SAPPHIRE,
        'raw-red': winningTeam === team.RUBY
      }"
      x="50%"
      y="14"
      font-family="sans-serif"
      text-anchor="middle"
    >
      Team {{ winningTeam === team.SAPPHIRE ? "Sapphire" : "Ruby" }} Wins!
    </text>
  </svg>
</div>
