@use '../../../theme.scss' as theme;

.win-banner {
    align-self: center;
    justify-self: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.raw-blue {
    fill: theme.$primary-color;
}

.raw-red {
    fill: theme.$warn-color;
}