<div
  gdRows.gt-xs="auto auto auto auto auto"
  gdColumns.gt-xs="auto auto auto auto auto"
  gdRows.xs="auto auto auto auto auto auto"
  gdColumns.xs="auto auto auto auto"
  gdGap="10px"
>
  <app-word
    [@flipInYOnEnter]
    *ngFor="let word of words"
    [word]="word"
    [hideColor]="hideColors"
    (wordClickEvent)="onWordClicked(word.index)"
  ></app-word>
  <div
    class="win-banner"
    *ngIf="winningTeam"
    [@tadaOnEnter]
    [@bounceOutOnLeave]
  >
    <img
      [src]="
        'assets/' +
        (winningTeam === team.SAPPHIRE ? 'sapphire_wins.svg' : 'ruby_wins.svg')
      "
      alt="wining"
    />
  </div>
</div>
