<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <form
    (ngSubmit)="submit()"
    [formGroup]="gameForm"
    fxFlex="30%"
    fxFlex.sm="50%"
    fxFlex.xs="90%"
  >
    <mat-card>
      <div *ngIf="!create" style="text-align: center">
        <img
          src="assets/logo.svg"
          alt="logo"
          style="max-width: 12%; height: 2rem"
        />
      </div>
      <mat-card-title fxLayout="row">
        <img
          *ngIf="create"
          src="assets/logo.svg"
          alt="logo"
          style="height: 2rem; margin-right: 1vh"
        />
        <h1>{{ formHeading }}</h1>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field fxLayout="column">
          <mat-label> Nick </mat-label>
          <input
            matInput
            appInputTrim
            type="text"
            placeholder="In-game nick"
            formControlName="nick"
          />
          <mat-error *ngIf="gameForm.controls['nick'].hasError('required')">
            Nick is <b>required</b>
          </mat-error>
          <mat-error *ngIf="gameForm.controls['nick'].hasError('minlength')">
            Nick must contain at least 2 characters
          </mat-error>
          <mat-error *ngIf="gameForm.controls['nick'].hasError('maxlength')">
            Nick cannot contain more than 15 characters
          </mat-error>
        </mat-form-field>
        <app-password-field formControlName="password"> </app-password-field>
        <mat-label *ngIf="create"> Max Players </mat-label>
        <div fxLayout="row" *ngIf="create" style="font-size: 1.5rem">
          <mat-slider
            [value]="sliderValue"
            (input)="sliderValue = $event.value || 4"
            class="full-width"
            min="4"
            max="8"
            step="1"
            value="4"
          ></mat-slider>
          {{ sliderValue }}
        </div>
        <mat-form-field fxLayout="column">
          <mat-label> Upload Word Packs </mat-label>
          <ngx-mat-file-input
            [multiple]="true"
            [accept]="'.txt'"
            [formControl]="wordPacksFormControl"
          >
            <mat-icon ngxMatFileInputIcon>attachment</mat-icon>
          </ngx-mat-file-input>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="50" mat-stroked-button type="submit">
          {{ formButtonText }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
