<mat-card
  style="width: 220px; margin-bottom: 10px"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
>
  <div>
    <mat-icon
      style="margin-bottom: 10px"
      [svgIcon]="currentTeam === team.SAPPHIRE ? 'sapphire' : 'ruby'"
      [@flip]="{
        value: currentTeam === team.SAPPHIRE,
        params: { duration: 500 }
      }"
    ></mat-icon>
  </div>
  <button (click)="changePlayerTeam()" mat-stroked-button>Change Team</button>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    style="min-height: 11rem; padding-top: 3vh"
  >
    <div class="team" fxLayout="column" fxLayoutAlign="center start">
      <span *ngFor="let participant of participants">
        <span
          class="player"
          *ngIf="participant.team === team.RUBY"
          [matTooltip]="participant.nick"
          appTruncatedTooltip
        >
          <mat-icon
            style="position: absolute; left: 5%"
            color="warn"
            matSuffix
            *ngIf="participant.role === role.SPY_MASTER"
            >zoom_in</mat-icon
          >
          <span class="raw-red">
            {{ participant.nick }}
          </span>
        </span>
      </span>
    </div>
    <div class="team" fxLayout="column" fxLayoutAlign="center start">
      <span *ngFor="let participant of participants">
        <span
          class="player"
          *ngIf="participant.team === team.SAPPHIRE"
          [matTooltip]="participant.nick"
          appTruncatedTooltip
        >
          <mat-icon
            style="position: absolute; left: 48%"
            color="primary"
            matSuffix
            *ngIf="participant.role === role.SPY_MASTER"
            >zoom_in</mat-icon
          >
          <span class="raw-blue">
            {{ participant.nick }}
          </span>
        </span>
      </span>
    </div>
  </div>
  <span *ngIf="turnTime">Timer: {{ turnTime }} Seconds</span>
  <mat-slider
    min="0"
    max="3"
    step="1"
    value="0"
    (change)="setTime($event)"
    [value]="getTime()"
    [matTooltip]="'Set Timer'"
    [matTooltipPosition]="'before'"
  ></mat-slider>
  <mat-card-actions>
    <mat-button-toggle-group
      [(ngModel)]="playerRole"
      (change)="changePlayerRole()"
    >
      <mat-button-toggle [value]="role.OPERATIVE">
        Jemologist
      </mat-button-toggle>
      <mat-button-toggle [value]="role.SPY_MASTER">
        Jem-Master
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
  <button
    style="margin-bottom: 20px"
    mat-raised-button
    [color]="playerTeam === team.SAPPHIRE ? 'primary' : 'warn'"
    [disabled]="playerRole === role.SPY_MASTER || playerTeam !== currentTeam"
    (click)="endTurn()"
  >
    End Turn
  </button>
  <div class="wordsPacksList">
    <div
      class="wordsPack"
      [ngClass]="{ 'raw-blue selected': wordsPack.selected }"
      (click)="selectWordsPack(wordsPack)"
      *ngFor="let wordsPack of wordsPacks"
    >
      {{ wordsPack.name }}
    </div>
  </div>
</mat-card>
