.team {
  min-width: 50%;
}

.player {
  text-align: left;
  display: inline-block;
  font-size: 17px;
  margin-left: 20px;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wordsPack {
  cursor: pointer;
}

.wordsPacksList {
  box-sizing: border-box;
  max-width: 50%;
}

.selected {
  font-weight: bold;
}
