<mat-card fxLayout="column" fxLayoutAlign="space-around stretch">
  <div>
    <mat-icon
      style="margin-bottom: 10px"
      [svgIcon]="currentTeam === team.SAPPHIRE ? 'sapphire' : 'ruby'"
    ></mat-icon>
  </div>
  <button
    (click)="changePlayerTeam()"
    [color]="playerTeam === team.SAPPHIRE ? 'warn' : 'primary'"
    mat-flat-button
  >
    Change Team
  </button>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    style="min-height: 11rem; padding-top: 3vh"
  >
    <div class="team" fxLayout="column" fxLayoutAlign="center center">
      <span *ngFor="let participant of participants">
        <span *ngIf="participant.team === team.RUBY">
          <mat-icon
            style="position: absolute; left: 1.5vh"
            color="warn"
            matSuffix
            *ngIf="participant.role === role.SPY_MASTER"
            >zoom_in</mat-icon
          >
          <span style="color: pink">
            {{ participant.nick }}
          </span>
        </span>
      </span>
    </div>
    <div class="team" fxLayout="column" fxLayoutAlign="center center">
      <span *ngFor="let participant of participants">
        <span
          style="max-width: 5px; overflow: hidden"
          *ngIf="participant.team === team.SAPPHIRE"
        >
          <mat-icon
            style="position: absolute; left: 8vh"
            color="primary"
            matSuffix
            *ngIf="participant.role === role.SPY_MASTER"
            >zoom_in</mat-icon
          >
          <span style="color: lightblue">
            {{ participant.nick }}
          </span>
        </span>
      </span>
    </div>
  </div>
  <mat-slider
    min="0"
    max="3"
    step="1"
    value="0"
    (change)="setTime($event)"
    [value]="getTime()"
  ></mat-slider>
  <mat-card-actions>
    <mat-button-toggle-group
      [(ngModel)]="playerRole"
      (change)="changePlayerRole()"
    >
      <mat-button-toggle [value]="role.OPERATIVE">
        Operative
      </mat-button-toggle>
      <mat-button-toggle [value]="role.SPY_MASTER">
        Spy-Master
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>
