.team {
  min-width: 50%;
}

.player,
.word-pack {
  text-align: left;
  display: inline-block;
  font-size: 17px;
  margin-left: 20px;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  cursor: pointer;
}

.player-self {
  font-weight: 550;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.wordsPack {
  max-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  font-weight: bold;
}
