@use '../../../theme.scss' as theme;

.team {
  min-width: 50%;
}

.player {
  text-align: left;
  display: inline-block;
  font-size: 17px;
  margin-left: 20px;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-self {
  font-weight: 550;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.wordsPack {
  cursor: pointer;
}

.wordsPacksList {
  box-sizing: border-box;
  max-width: 50%;
}

.selected {
  font-weight: bold;
}

.raw-red {
  color: theme.$warn-color;
}

.raw-blue {
  color: theme.$primary-color;
}