<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <!-- Playing Icon and Team -->
  <app-playing-icon [currentTeam]="currentTeam"></app-playing-icon>
  <!-- Change Team Button -->
  <button (click)="changePlayerTeam()" mat-stroked-button>Change Team</button>
  <!-- Players Table -->
  <app-players-table
    [players]="players"
    [playerId]="playerId"
  ></app-players-table>
  <!-- Timer -->
  <span style="text-align: center" *ngIf="turnTime"
    >Timer: {{ turnTime }} Seconds</span
  >
  <mat-slider
    min="0"
    max="3"
    step="1"
    value="0"
    (change)="setTime($event)"
    [value]="getTime()"
    [matTooltip]="'Set Timer'"
    [matTooltipPosition]="'before'"
  ></mat-slider>
  <mat-card-actions>
    <!-- Change Role Buttons -->
    <mat-button-toggle-group
      [(ngModel)]="playerRole"
      (change)="changePlayerRole()"
    >
      <mat-button-toggle [value]="role.JEMOLOGIST">
        Jemologist
      </mat-button-toggle>
      <mat-button-toggle [value]="role.JEM_MASTER">
        Jem-Master
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
  <!-- End Turn Button -->
  <button
    style="margin-bottom: 20px"
    mat-raised-button
    [color]="playerTeam === team.SAPPHIRE ? 'primary' : 'warn'"
    [disabled]="playerRole === role.JEM_MASTER || playerTeam !== currentTeam"
    (click)="endTurn()"
  >
    End Turn
  </button>
  <!-- Word Pack Selection -->
  <app-word-packs-list
    [wordPacks]="wordPacks"
    [selectedWordPack]="selectedWordPack"
    (selectWordPackEvent)="onSelectWordsPack($event)"
  ></app-word-packs-list>
</div>
